# HomeLLM - DeepSpeed ZeRO Stage 3 + Full CPU Offload
compute_environment: LOCAL_MACHINE
distributed_type: DEEPSPEED
mixed_precision: bf16
num_processes: 2
num_machines: 1
main_training_function: main

deepspeed_config:
  zero_stage: 3
  offload_optimizer_device: cpu
  offload_param_device: cpu
  gradient_clipping: 1.0
  zero3_save_16bit_model: true
  zero3_init_flag: true

dynamo_config: {}
