# HomeLLM - DeepSpeed ZeRO Stage 2
compute_environment: LOCAL_MACHINE
distributed_type: DEEPSPEED
mixed_precision: bf16
num_processes: 2
num_machines: 1
main_training_function: main

deepspeed_config:
  zero_stage: 2
  offload_optimizer_device: none
  offload_param_device: none
  gradient_clipping: 1.0
  
dynamo_config: {}
